<div style = "margin: auto;"><br><table style="width:100%"></table>
  <h4>News</h4>
  <button style = "float: right;">Write a news</button>
  <hr>
  <div class = "container">
    <ul>
      <img src="assets/images/onepiece.jpg" alt="onepiece.jpg" width="240" height="380" ></ul>
      <ul> <img src="assets/images/gintama.jpg" alt="gintama.jpg" width="240" height="380"></ul>
      <ul> <img src="assets/images/cowboy.jpg" alt="cowboy.jpg" width="240" height="380">  </ul>
  </div>
  <table style="width:100%"></table>
  <h4>Content</h4>
  <div class="container" >
    <div class = "pow">
    <a href = "" class = "opw">The best anime in 90s</a>
    <a href = "" class = "opw">The best anime in 90s</a>
    <a href = "" class = "opw">The best anime in 90s</a>
    <a href = "" class = "opw">The best anime in 90s</a>
    <a href = "" class = "opw">The best anime in 90s</a>
    <a href = "" class = "opw">The best anime in 90s</a>
  </div>
  </div>
