<h3>Manga List</h3>
<p>This page displays mangas sorted by rating. </p>


<div class = "item">
  <a routerLink = "/about" routerLinkActive = "active"> <img src="assets/images/Bleachanime.png"  alt="bleachanime.png" width="180" height="250">
  <span class="caption">Bleach</span></a></div>
<div class = "item">  
  <a routerLink = "/about" routerLinkActive = "active"> <img src="assets/images/onepiece.jpg" alt="onepiece.jpg" width="180" height="250">
  <span class="caption">One Piece</span></a></div>
<div class = "item"> 
 <a routerLink = "/about" routerLinkActive = "active"> <img src="assets/images/gintama.jpg" alt="gintama.jpg" width="180" height="250">
  <span class="caption">Gintama</span></a></div>
  <div class = "item">   
  <img src="assets/images/onepiece.jpg" alt="onepiece.jpg" width="180" height="250">
  <span class="caption">One Piece</span></div>
  <div class = "item"> 
  <img src="assets/images/gintama.jpg" alt="gintama.jpg" width="180" height="250">
  <span class="caption">Gintama</span></div>
  <div class = "item">    
  <img src="assets/images/cowboy.jpg" alt="cowboy.jpg" width="180" height="250"> 
  <span class="caption">Cowboy Bebop</span></div>
  <div class = "item">   
  <img src="assets/images/cowboy.jpg" alt="cowboy.jpg" width="180" height="250">
  <span class="caption">Cowboy Bebop</span></div>
  <div class = "item"> 
  <img src="assets/images/Bleachanime.png" alt="bleachanime.png" width="180" height="250">
  <span class="caption">Bleach</span></div>
  <div class = "item">   
  <img src="assets/images/onepiece.jpg" alt="onepiece.jpg" width="180" height="250">
  <span class="caption">One Piece</span></div>
  <div class = "item">  
  <img src="assets/images/gintama.jpg" alt="gintama.jpg" width="180" height="250">
  <span class="caption">Gintama</span></div>
  <div class = "item">  
  <img src="assets/images/cowboy.jpg" alt="cowboy.jpg" width="180" height="250"> 
  <span class="caption">Cowboy Bebop</span>
</div>


