<div style = "margin: auto;"><br><table style="width:100%">
    <tr>
      <th>Name of the title</th>
      <th>Genre</th>
      <th>Date</th>
    </tr>
    <tr>
      <td>Attack on Titan</td>
      <td>Fantasy</td>
      <td>April 7, 2013</td>
    </tr>
    <tr>
      <td>Initial D</td>
      <td>Racing</td>
      <td>April 19, 1998</td>
    </tr>
    <tr>
        <td>Naruto</td>
        <td>Adventure</td>
        <td>October 3, 2002</td>
      </tr>
      <tr>
        <td>Bleach</td>
        <td>Adventure</td>
        <td>October 5, 2004</td>
      </tr>
      <tr>
        <td>One Punch Man</td>
        <td>Fantastic</td>
        <td>October 5, 2015</td>
      </tr>
      <tr>
        <td>Gurren Lagann</td>
        <td>Fantasy</td>
        <td>April 3, 2007</td>
      </tr>
  </table>
</div>
<div>
    <br><button>Add manga from anime</button>
</div>