

<ul id="underbar">  
    <li><p> Naruto </p><br></li>
    <li><p> One Piece </p> <br></li>
    <li><p> Bleach </p></li>
    <li><p> DxD </p></li>
  </ul>  

<div class = "container">
  <ul>
    <img src="assets/images/naruto.jpg" alt="naruto.jpg" width="100" height="180">
    <img src="assets/images/Bleachanime.png" alt="bleachanime.png" width="120" height="180">
    <img src="assets/images/onepiece.jpg" alt="onepiece.jpg" width="120" height="180">
    <img src="assets/images/gintama.jpg" alt="gintama.jpg" width="120" height="180">
    <img src="assets/images/cowboy.jpg" alt="cowboy.jpg" width="120" height="180">  
  </ul>

<div class = "centerhtml">
  <div style = "float: left;">
    <div class = "login">
      <p class = "text">Login(nickname)</p>
      <input type="text" style="width: 280px;"> 
      <p class = "text">Password</p>
      <input type="password" style="width: 280px;"><br>
      <button class = "button" type="button" name="Sign in" > Sign in </button>   
    </div>
  </div>

  <div class="anime">
    <h4>Anime</h4>
    <h5>Ongoing</h5>
    <h5>Summer Season</h5>
    <h5>Autumn Season</h5>
    <h5>Winter Season</h5>
    <h5>Spring Season</h5>
  </div>

  <div class="recomendation">
    <h4>Recomendation</h4>
    <h5>Favourite</h5>
    <h5>From community</h5>
    <h5>Personalized</h5>
    <h5>Studio</h5>
  </div>
  
</div>
</div>
